@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";


/* 別窓でイントロダクション表示 */
/*モーダルを開くボタン*/
.modal-open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background: #000;
    margin: auto;
    cursor: pointer;
    transform: translate(-50%, -50%);
    opacity: 85%;
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
}

/*モーダル本体の擬似要素の指定*/
.modal-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active {
    opacity: 1;
    visibility: visible;
}

/*モーダル枠の指定*/
.modal-body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 90%;
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/*モーダル内のコンテンツの指定*/
.modal-content {
    background: #fff;
    text-align: left;
    padding: 30px;
}

/* ↑ここまで別窓 */

body {
    width: cover;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

#select-wrapper {
    z-index: 1;
    background-color: white;
    opacity: 100%;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    position: fixed;
}

/* ここから下結構いじってます */

#select-title {
    width: 15%;
    margin: 0;
}

#select-area {
    width: 85%;
    display: flex;
    justify-content: center;
}

.locationsearch {
    width: 25%;
}

#locationSearch {
    width: 55%;
    height: 34px;
    border: 3px solid #a9a9a9;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 7px 3px;
}

.child {
    width: 25%;
}

#child {
    width: 55%;
    height: 34px;
    border: 3px solid #a9a9a9;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 7px 3px;
}

.foodgenre {
    width: 25%;
}

#foodGenre {
    width: 55%;
    height: 34px;
    border: 2px solid #00008b;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 7px 3px;
}

.placesearch {
    width: 25%;
}

#placeSearch {
    width: 55%;
    height: 34px;
    border: 3px solid #a9a9a9;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 7px 3px;
}

.search-btn {
    width: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-btn button {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.search-btn a {
    display: inline-block;
    width: 100%;
    margin: 0;
}


#select-data {
    background-color: rgb(251, 247, 221);
    display: flex;
}


#select-location {
    background-color: rgb(220, 244, 252);
}


#select-genre {

    background-color: rgb(241, 220, 252);
}

#btn {}

#img-wrapper {
    /* height: 650px; */
    background-color: black;
}

#img-container {
    position: relative;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
}

.title-big {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    color: white;
    font-size: 100px;
}

.title-big img {
    display: block;
    width: 60%;
    height: auto;
    z-index: 3;
}

/* 一旦ここまでいじった */

@media screen and (max-width: 500px) {
    #map-route {
        display: flex;
        flex-direction: column;

    }

    #map-wrapper {
        width: 100%;
    }

    #route-wrapper {
        width: 100%;
    }
}


#map-route {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

#map-wrapper {
    height: 88vh;
    width: 50%;
    margin: 0 auto;
}

#map-title {

    background-color: white;
    /* border: solid 1px black; */
    height: 50px;
    display: flex;
    justify-content: center;
}

#map-display {
    margin: 10px;
    height: 88vh;
    border-radius: 10px;

}

#map {
    border: solid 2px grey;
    margin-top: 26px;
    height: 88vh;
    border-radius: 10px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#route-wrapper {
    height: 88vh;
    width: 50%;
}

#route-title {

    /* border: solid 1px black; */
    height: 50px;
    /* background-color: darkgray; */
    display: flex;
    justify-content: center;
}

#route-display {
    /* background-color: rgb(216, 216, 216); */
    height: 88vh;
    /* border: solid 1px black; */
    font-size: 10px;
    padding: 10px;
    margin: 25px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* すーさん　下の３つを追加 */
        border-radius: 10px;
        box-sizing: border-box;
        border: solid 2px black;
}

.route-image img {
    margin-top: 27px;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.route-each-a {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
        border: solid 2px black;
}

.route-each-b {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
        border: solid 2px black;
}

.route-each-c {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
        border: solid 2px black;
}

.route-each-a,
.route-each-b,
.route-each-c {
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
}

p{
    text-align: left;
    margin: 5px;
    font-size: 14px;
}
/* この中にプランを上から順に表示させる？ */
.shop-name {
    font-size: 25px;
    background-color: rgb(215, 215, 215);
}

/* Q&Aボタン部部分デザイン */
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-custom01 {
    margin-bottom: 0.5rem;
    padding: 0;
    border-radius: 0.75rem;
}

a.btn-custom01:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0.75rem, -1rem);
    transform: translate3d(0, 0.75rem, -1rem);

    border: 2px solid #000;
    border-radius: inherit;
    background: #ccc100;
    -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: calc(50% - 1rem);
    left: 1.5rem;
    margin: 0;
    padding: 0;
    content: "\f0e0";
}

.btn-custom01-front {
    position: relative;
    display: block;
    padding: 1.5rem 5rem 1.5rem 5rem;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #000;
    border-radius: inherit;
    background: #fff100;
}

.fa-position-left {
    position: absolute;
    top: calc(50% - 0.5em);
    left: 1rem;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1rem;
}

a.btn-custom01:hover {
    -webkit-transform: translate(0, 0.25rem);
    transform: translate(0, 0.25rem);
    background: #fff100;
}

a.btn-custom01:hover:before {
    -webkit-transform: translate3d(0, 0.5rem, -1rem);
    transform: translate3d(0, 0.5rem, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
    content: "\f2b6";
}

a.btn-custom01:active {
    -webkit-transform: translate(0rem, 0.75rem);
    transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
    -webkit-transform: translate3d(0, 0, -1rem);
    transform: translate3d(0, 0, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
    content: "\f2b6";
}

.modal-btn {}


/* SEARCHボタンCSS */
a.btn-flat {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
}

a.btn-flat span {
    position: relative;
    font-size: 20px;
}

a.btn-flat:before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
    transform: translateX(-98%) translateY(-70%) rotate(135deg);
    background: #fff100;
}

a.btn-flat:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
    transform: translateX(-9%) translateY(-25%) rotate(135deg);
}

/* すーさんこのした一式追加クーポンのCSS */
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
        メイリオ, YuGothic, "游ゴシック sans-serif";
}

.btn,
a.btn,
button.btn {
    font-size: 0.6rem;
    font-weight: 100;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

/*ボタン周りの余白用*/
.btn-wrap {
    margin: 2px;
}

a.btn-coupon {
    line-height: 1.2;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 200px;
    height: 25px;
    margin: 0 auto;
    padding: 0;
}

a.btn-coupon .left {
    width: 80%;
    padding-top: 2px;

    -webkit-transition: all 0.6s;

    transition: all 0.6s;
    -webkit-transform-origin: top left;
    transform-origin: top left;

    border: 2px solid #e94919;
    border-right: 0;
    background: #fff;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

a.btn-coupon .left span {
    font-size: 0.5rem;
}

a.btn-coupon .left span.txt1 {
    font-size: 0.7rem;

    color: #e94919;
}

a.btn-coupon .left em {
    font-size: 1.5rem;
    font-style: normal;

    display: block;

    color: #e94919;
}

a.btn-coupon .right {
    position: relative;

    width: 20%;
    height: 100%;

    -webkit-transition: all 0.6s;

    transition: all 0.6s;
    -webkit-transform-origin: top left;
    transform-origin: top left;

    color: #fff;
    border-left: 2px dotted #fff;
    background: #e94919;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

a.btn-coupon .right span {
    font-size: 1rem;
    line-height: 1;

    position: absolute;
    top: -0.8rem;
    left: calc(50% - 0.8rem);

    display: inline-block;

    -webkit-transform: rotate(90deg);

    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

a.btn-coupon:hover .left {
    -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);
}

a.btn-coupon:hover .right {
    -webkit-transform: rotateX(-20deg) rotateY(75deg);
    transform: rotateX(-20deg) rotateY(75deg);
}




/* フッター 鬼塚付け加えた*/
footer {
    margin-top: 100px;
}

.tree {
    width: 100px;
    margin-right: 40px;
}

.footer-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    width: 100%;
    background: linear-gradient(rgb(110, 110, 110), rgb(191, 188, 179));
}

.footer-wrapper p {
    font-size: 20px;
}

.sns {
    width: 30px;
    height: 30px;
    display: flex;
    margin-left: 40px;
}

.sns img {
    padding-right: 10px;
}


.footer-wrapper p {
    z-index: 1;
}