html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: 0;
    width: 100%;
    font: 13px/1.231 'Century Gothic', 'Lucida Grande', "メイリオ", Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "ＭＳ Ｐゴシック", sans-serif;
    overflow-wrap: break-word;
    word-break: normal;
    color: #333333;
}

h1 {
    font-size: 16px;
    margin: 0px;
    padding: 12px;
    background-color: #fbbc05;
    color: #553b08;
}

p.important {
    font-size: 20px !important;
    margin: 0px;
    padding: 15px;
    background-color: #34a853;
    color: #FFFFFF;
}

p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.8;
}

#container {
    padding: 0 20px;
    box-sizing: border-box;
}


#map-canvas {
    height: 500px;
    margin: 15px 0 0 0;
    padding: 0px
}

#form {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border-color: #34a853;
}

@media screen and (max-width: 767px) {
    input[type="text"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
    }
}

input[type="button"] {
    display: block;
    font-weight: normal;
    background-repeat: repeat-x;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;

    margin: 10px 0;
    padding: 10px 30px;
    box-sizing: border-box;

    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 0 #5B0B0F;

    background-color: #E21922;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #E21922, #E21922);
    background-image: -ms-linear-gradient(top, #E21922, #E21922);
    background-image: -webkit-linear-gradient(top, #E21922, #E21922);
    background-image: -o-linear-gradient(top, #E21922, #E21922);
    background-image: linear-gradient(top, #E21922, #E21922);
    cursor: pointer;
}

input[type="button"]:hover {
    text-decoration: none;
    box-shadow: 0 0 0 #666666;
    transform: translate3d(0, 5px, 0)
}

input[type="button"]:active {
    color: #ffffff;
    background-color: #666666;
    background-repeat: repeat-x;
}


th {
    background-color: #34a853;
    color: #ffffff;
}

th,
td {
    text-align: center;
    border: 1px solid #34a853;
    box-sizing: border-box;
}
}

table {
    width: 300px;
}

th,
td {
    min-width: 200px;
    padding: 15px 10px;
}

@media (max-width:767px) {
    table {
        width: 100%;
    }

    th,
    td {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 15px 0;
    }
}

p.copylight {
    color: #00a0af;
    text-align: center;
}

p.copylight a {
    text-decoration: none;
    color: #00a0af;
}

p.message {
    margin: 15px 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #FFFEC8;
}

.adbox {
    margin: 0 auto 20px;
    padding: 15px 0;
    text-align: center;
    background-color: #ffffff;
}

.adbox span {
    display: block;
    font-size: 10px;
}

.adslot_ad002 {
    width: 336px;
    height: 280px;
}

@media (max-width: 767px) {
    .adslot {
        width: 280px;
        height: 250px;
    }
}

@media (max-width: 767px) {
    .headad {
        display: none;
    }
}

#id_ido,
#id_keido {
    color: #ff0000;
}

span.important {
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
}

.alternately {
    margin: 15px auto;
    padding: 10px;
    text-align: center;

}

.alternately a {
    display: block;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    width: 70%;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    background-color: #4285f4;
    border-radius: 10px;
}

.alternately a:hover {
    background-color: #666666;
}